html {
    font-size: 13px;
    _font-size: 12px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    color: #333;
    background-color: #e8e8e8;
    line-height: 1.5;
    font-family: consolas;
}
input {
font-family:  consolas;
}
textarea {
   font-family: inherit;
   font-size: inherit;
     font-family: consolas;
}

.container {
  display: block;
  max-width: 1080px;
  margin: 0 auto;
}
.warpb{
  width: 960px;
  margin: 0 auto;
}
.wrapper {
    /* width: 1080px; */
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    height: auto;
    font-family: consolas;
}
.titlediv{
  align-items: center;
  background: #3367d6;
  color: white;
  display: flex;
  min-height: 56px;
  position:relative;
}
.name_div{
  height: 40px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  right: 0;
}
h1 {
  flex: 1;
  font-size: 123%;
  font-weight: 400;
  letter-spacing: .25px;
  line-height: normal;
  margin-inline-start: 6px;
  padding-inline-end: 12px;
}
.cards{
  /* width: 960px; */
  /* margin: 10px; */
}
.cardsl{
  width: 300px;
  height: 200px;
  background: #223344;
  margin-left: 200px ;
}
.cardsx{
  width: 300px;
  height: 200px;
  background: #223344;
  display: inline-block;
}
.cardm {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 3px 3px 0 0;
    transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    /* margin: 10px; */
    display: inline-block;
    /* padding: 2px; */
    margin: 20px;
}
.col4 {
    width: 25%;
    display: block;
    min-height: 1px;
    position: relative;
    float: left;
}
.col2{
  width: 20%;
}


p{
  width: 25%;
  float: left;
}
.label-info {
    background-color: #5bc0de;
}
.blue-info{
    background-color: #F1BF26;
    color: white;
}

.fl{
  float: left;
}
.fr{
  float: right;
}
.clear-float:after,
.clear-float:before{
  content: " ";
  display: block;
  clear: both;
}

.ml15{
  margin-left: 15px;
}
.h250{
  height: 250px;
}
.h450{
 height: 450px;
}
.textinput, .textoutput{
  width: 448px;
  border: 0;
  padding: 10px;
  outline: none;
}
.bottom_btn{
  height: 45px;
}
.pd10{
  padding-top: 10px;
}
.pdd10{
  padding: 10px;
}
.mtitle{
  padding: 5px 20px 0px 10px;
}
.codeinput {
 background: #333;
 border: 3px solid #000;
 width: 960px;
}
.generate {
  width: 50px;
  height: auto;
}
.inputdiv,.outputdiv,.postdiv{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.post_text_button{
    font-family:  consolas;
    border: 1px solid #2e82ff;
    width: 100px;
    height: 35px;
    line-height: 32px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    outline: 0;
    cursor: pointer;
    background: #38f;
    border-radius: 0;
}
.ml10{
    margin-left: 10px;
    font-size: 14px;
}
.slcss{
  font-family:  consolas;
    background: #38f;
}
#textinput1,#textouput1{
  border: 1px solid #2e82ff;
  width: 480px;
}

/* 阴影效果 */
.jss81 {
    /* color: rgba(0, 0, 0, 0.87); */
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
    /* background-color: #e0e0e0; */
}
